<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Healthnet/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Healthnet/Rotas.php [L] 
</IfModule>

